<!DOCTYPE html>

<html>

{% include head.html %}

<body>

{% include header.html %}

<div id="main" class="alt">
  <section id="about-header">
    <div class="inner">
      <h1 class="underline">About Us</h1>
      <h3>We Are TVSunnah Podcast</h3>
    </div>
  </section>
  <section id="one">
    <div class="inner">
      <p>TVSunnah Podcast is the award-winning narrative podcasting company that aims to help listeners better understand the world and each other. Want to get involved? Follow our journey by becoming a member or subscribing to our newsletter.</p>
      <div class="row about-section">
        <div class="4u 12u$(medium)">
          <img src="{{ site.baseurl }}/assets/images/team/nikmdyusof.jpg" alt="Nik Md Yusof">
          <h3>Nik Md Yusof</h3>
          <i><p class="title-description">CEO & Founder</p></i>
          <p>Nik Md Yusof is the founder of TVSunnah and TVSunnah Podcast. He worked as a civil engineer during his early career and currently is concentrating full time in dakwah.</p>
        </div>
        <div class="4u 12u$(medium)">
          <img src="{{ site.baseurl }}/assets/images/team/nikamirulmukmeen.jpg" alt="Nik Amirul Mukmeen">
          <h3>Nik Amirul Mukmeen</h3>
          <i><p class="title-description">Software Engineer</p></i>
          <p>Second son of Nik Md Yusof. He is currently working at <a href="https://wayfair.com" target="_blank">Wayfair LLC</a> as a full stack software engineer in Boston, MA.</p>
        </div>
        <div class="4u$ 12u$(medium)">
          <img src="{{ site.baseurl }}/assets/images/team/nikamirulaiman.jpg" alt="Nik Amirul Aiman">
          <h3>Nik Amirul Aiman</h3>
          <i><p class="title-description">Product Media</p></i>
          <p>Third son of Nik Md Yusof. He is currently working full time on the product media side of TVSunnah.</p>
        </div>
      </div>
    </div>
  </section>
</div>

{% include footer.html %}

</body>

</html>
