<!DOCTYPE html>

<html>

{% include head.html %}

<body>

{% include header.html %}

<div id="main" class="alt">

  <!-- One -->
  <section id="one">
    <div class="inner">
      <header class="major">
        <h1>About Us</h1>
      </header>
      <h2 id="content">We Are TVSunnah Podcast</h2>
      <div class="row">
        <div class="4u 12u$(medium)">
          <h3>Nik Md Yusof Nik Ismail</h3>
          <p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing blandit tempus accumsan.</p>
        </div>
        <div class="4u 12u$(medium)">
          <h3>Nik Amirul Mukmeen Nik Md Yusof</h3>
          <p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing blandit tempus accumsan.</p>
        </div>
        <div class="4u$ 12u$(medium)">
          <h3>Nik Amirul Aiman Nik Md Yusof</h3>
          <p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing blandit tempus accumsan.</p>
        </div>
      </div>
    </div>
  </section>
</div>

{% include footer.html %}

</body>

</html>
