<!DOCTYPE html>

<html>

{% include head.html %}

<body>

{% include header.html %}

<div id="main" class="alt center">
  <section id="about-header">
    <div class="inner">
      <h1 class="underline">About Us</h1>
      <h3>We Are TVSunnah Podcast</h3>
    </div>
  </section>
  <section id="one">
    <div class="inner">
      <p>TVSunnah Podcast is a podcasting company that aims to help listeners better understand faith and Islam. Want to get involved? Follow our journey by subscribing to our <a href="{{ site.baseurl }}/contact">newsletter</a>. Also, check out our <a href="https://www.youtube.com/user/TVSUNNAH">TVSunnah</a> youtube channel.</p>
      <div class="row about-section">
        <div class="4u 12u$(medium)">
          <img src="{{ site.baseurl }}/assets/images/team/nikmdyusof.jpg" alt="Nik Md Yusof">
          <h3>Nik Md Yusof</h3>
          <i><p class="title-description">CEO & Founder</p></i>
          <p>Nik Md Yusof is the founder of TVSunnah and TVSunnah Podcast. He worked as a civil engineer during his early career and currently is concentrating full time in dakwah.</p>
          <ul class="icons">
            <li><a href="https://www.facebook.com/nik.m.ismail" class="icon alt fa-facebook" target="_blank"><span class="label">Facebook</span></a></li>
            <li><a href="https://www.twitter.com/tvsunnah" class="icon alt fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
            <li><a href="https://www.instagram.com/tvsunnah" class="icon alt fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
          </ul>
        </div>
        <div class="4u 12u$(medium)">
          <img src="{{ site.baseurl }}/assets/images/team/nikamirulmukmeen.jpg" alt="Nik Amirul Mukmeen">
          <h3>Nik Amirul Mukmeen</h3>
          <i><p class="title-description">Software Engineer</p></i>
          <p>Second son of Nik Md Yusof. He is currently working at <a href="https://wayfair.com" target="_blank">Wayfair LLC</a> as a full stack software engineer in Boston, MA.</p>
          <ul class="icons">
            <li><a href="https://www.facebook.com/nikamirulmukmeen" class="icon alt fa-facebook" target="_blank"><span class="label">Facebook</span></a></li>
            <li><a href="https://www.twitter.com/nikamirulmukmee" class="icon alt fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
            <li><a href="https://www.instagram.com/nikamirulmukmeen" class="icon alt fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
            <li><a href="https://www.github.com/nikyusof" class="icon alt fa-github" target="_blank"><span class="label">GitHub</span></a></li>
            <li><a href="https://www.linkedin.com/in/nikamirulmukmeen" class="icon alt fa-linkedin" target="_blank"><span class="label">LinkedIn</span></a></li>
          </ul>
        </div>
        <div class="4u$ 12u$(medium)">
          <img src="{{ site.baseurl }}/assets/images/team/nikamirulaiman.jpg" alt="Nik Amirul Aiman">
          <h3>Nik Amirul Aiman</h3>
          <i><p class="title-description">Product Media</p></i>
          <p>Third son of Nik Md Yusof. He is currently working full time on the product media side of TVSunnah.</p>
          <ul class="icons">
            <li><a href="https://www.facebook.com/kinnamia" class="icon alt fa-facebook" target="_blank"><span class="label">Facebook</span></a></li>
            <li><a href="https://www.instagram.com/vexl33t" class="icon alt fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>

{% include footer.html %}

</body>

</html>
