<!DOCTYPE html>

<html>

{% include head.html %}

<body>

{% include header.html %}

<div id="main" class="alt">
  <section id="one">
    <div class="inner">
      <ul class="grid effect-7" id="grid">
        {% for podcast in site.data.podcasts %}
          {% for speaker in site.data.speakers %}
            {% if speaker.speaker_id == podcast.speaker_id %}
              {% assign speaker = speaker %}
            {% endif %}
          {% endfor %}
          <li class="grid-item">
            <a href="{{ podcast.url  | relative_url }}" class="link">
              <div class="example-2 card">
                <div class="wrapper">
                  <img src="{{ site.baseurl }}/{{ podcast.image }}" alt=""/>
                  <!--<div class="header">-->
                    <!--<div class="date">-->
                      <!--<span class="day">12</span>-->
                      <!--<span class="month">Aug</span>-->
                      <!--<span class="year">2016</span>-->
                    <!--</div>-->
                  <!--</div>-->
                  <div class="data">
                    <div class="content">
                      <span class="author">{{ speaker.name }}</span>
                      <h1 class="title"><a href="#">{{ podcast.title }}</a></h1>
                      <p class="text">{{ podcast.description }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </section>
</div>

{% include footer.html %}

</body>

</html>
