<!DOCTYPE html>

<html>

{% include head.html %}

<body>

{% include header.html %}

{% for podcast in site.data.podcasts %}
  {% if podcast.podcast_id == page.podcast_id %}
    {% assign podcast = podcast %}
  {% endif %}
{% endfor %}

{% for speaker in site.data.speakers %}
  {% if speaker.speaker_id == podcast.speaker_id %}
    {% assign speaker = speaker %}
  {% endif %}
{% endfor %}

<section id="banner">
  <div class="inner">
    <span class="image">
      <img src="{{ site.baseurl }}/{{ podcast.cover_image }}" alt="">
    </span>
    <header class="major">
      <h1 class="album-title">{{ podcast.title }}</h1>
    </header>
    <div class="content">
      {{ podcast.description }}
    </div>
  </div>
</section>

<section id="one">
  <div class="inner">
    <h3><a href="{{ site.baseurl }}/podcast/">Podcast</a> &nbsp; / &nbsp; {{ podcast.title }}</h3>
    <section class="spotlights post">
      <section>
        <div class="image">
          <img src="{{ site.baseurl }}/{{ speaker.image }}" alt="" data-position="center center" />
          <div class="speaker-description">
            <h4>{{ speaker.name }}</h4>
            <p>{{ speaker.description }}</p>
          </div>
        </div>
        <div class="content">
          {% assign index = 1 %}
          {% for post in site.posts %}
            {% if post.podcast == page.podcast_id %}
              <div class="inner">
                <a href="{{ post.id  | relative_url }}">
                  <h2 class="audio-title">{{ post.title }}</h2>
                </a>
                <p class="audio-description">{{ post.description }}</p>
                <p>{{ post.date | date: "%b %d, %Y" }} &nbsp; &nbsp; &nbsp; &nbsp; <em>{{ post.podcast_duration }}</em></p>
                <div id="waveform-{{ index }}" class="js-waveform">
                  <audio id="audio-{{ index }}" style="display: none" preload="none" src="" data-audio="{{ site.baseurl }}/{{ post.audio }}"></audio>
                </div>
                <div class="controls">
                  <button id="button-{{ index }}" class="btn btn-primary js-audio-button" data-action="play" data-current="play">
                    <i class="fa fa-play"></i> Play
                  </button>
                  <span id="waveform-counter-{{ index }}" class="waveform-counter"></span>
                  <span id="waveform-duration-{{ index }}" class="waveform-duration"></span>
                </div>
              </div>
              {% assign index = index | plus: 1 %}
            {% endif %}
          {% endfor %}
        </div>
      </section>
    </section>
  </div>
</section>

{{ content }}

{% include footer.html %}

</body>

</html>
