<!DOCTYPE html>

<html>

{% include head.html %}

<body>

{% include header.html %}

<div id="main" class="alt">
  <section id="contact-header">
    <div class="inner">
      <h1 class="underline">Contact Us</h1>
      <h3>Give us a shout. Use the form below to drop us an email. Old fashioned phone calls work too.</h3>
    </div>
  </section>
  <section id="contact">
    <div class="inner">
      <section>
        <form action="https://formspree.io/{{ site.email }}" method="POST">
          <div class="field">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" />
          </div>
          <div class="field half first">
            <label for="email">Email</label>
            <input type="text" name="_replyto" id="email" />
          </div>
          <div class="field half">
            <label for="name">Phone</label>
            <input type="text" name="phone" id="phone" />
          </div>
          <div class="field">
            <label for="message">Message</label>
            <textarea name="message" id="message" rows="6"></textarea>
          </div>
          <input type="hidden" name="_next" value="//tvsunnahpodcast.com/" />
          <ul class="actions">
            <li><input type="submit" value="Send Message" class="special" /></li>
            <li><input type="reset" value="Clear" /></li>
          </ul>
        </form>
      </section>
      <section class="split">
        <section>
          <div class="contact-method">
            <span class="icon alt fa-envelope"></span>
            <h3>Email</h3>
            <a href="mailto:contact@tvsunnahpodcast.com">{{ site.email }}</a>
          </div>
        </section>
        <section>
          <div class="contact-method">
            <span class="icon alt fa-phone"></span>
            <h3>Phone</h3>
            <a href="tel:+60123076703">{{ site.phone }}</a>
          </div>
        </section>
        <section>
          <div class="contact-method">
            <span class="icon alt fa-home"></span>
            <h3>Address</h3>
            <a href="https://goo.gl/maps/UzbPv1dyWDo" target="_blank">
              <span>
                {% if site.street_address %}
                  {{ site.street_address }}<br />
                {% endif %}
                {% if site.city %}
                  {{ site.city }},
                {% endif %}
                {% if site.state %}
                  {{ site.state }}
                {% endif %}
                {% if site.zip_code %}
                  {{ site.zip_code }}<br />
                {% endif %}
                {% if site.country %}
                  {{ site.country }}
                {% endif %}
            </span>
            </a>
          </div>
        </section>
      </section>
    </div>
  </section>
</div>

{% include footer.html %}

</body>

</html>
