<!DOCTYPE html>
<html>

{% include head.html %}

<body>

{% include header.html %}

{% for speaker in site.data.speakers %}
  {% if speaker.speaker_id == page.speaker_id %}
    {% assign speaker = speaker %}
  {% endif %}
{% endfor %}

<div id="main" class="alt">
  <section id="one">
    <div class="inner">
      {% if page.image %}
        <div class="header-image" style="background: url({{ site.baseurl }}/{{ page.image }}) no-repeat center top; background-size: 100% auto;">
          <h2 class="header-title">{{ page.album }}</h2>
        </div>
      {% endif %}
      <section class="spotlights post">
        <section>
          <div class="image">
            <img src="{{ site.baseurl }}/{{ speaker.image }}" alt="" data-position="center center" />
            <div class="speaker-description">
              <h4>{{ speaker.name }}</h4>
              <p>{{ speaker.description }}</p>
            </div>
          </div>
          <div class="content">
            <div class="inner">
              <h2 class="audio-title">{{ page.title }}</h2>
              <p class="audio-description">{{ page.description }}</p>
              <p>{{ page.date | date: "%b %d, %Y" }}</p>
              <div id="waveform-1" class="js-waveform">
                <audio id="audio-1" style="display: none" preload="none" src="" data-audio="{{ site.baseurl }}/{{ page.audio }}"></audio>
              </div>
              <div class="controls">
                <button id="button-1" class="btn btn-primary js-audio-button" data-action="play" data-current="play">
                  <i class="fa fa-play"></i> Play
                </button>
                <span id="waveform-counter-1" class="waveform-counter"></span>
                <span id="waveform-duration-1" class="waveform-duration"></span>
              </div>
              <p>{{ content }}</p>
            </div>
          </div>
        </section>
      </section>
    </div>
  </section>
</div>

{% include footer.html %}

</body>

</html>