<!DOCTYPE html>
<html>

{% include head.html %}

<body>

{% include header.html %}

{% for speaker in site.data.speakers %}
  {% if speaker.speaker_id == page.speaker_id %}
    {% assign speaker = speaker %}
  {% endif %}
{% endfor %}

{% for podcast in site.data.podcasts %}
  {% if podcast.podcast_id == page.podcast %}
    {% assign podcast = podcast %}
  {% endif %}
{% endfor %}

<section id="banner">
  <div class="inner">
    <span class="image">
      <img src="{{ site.baseurl }}/{{ podcast.cover_image }}" alt="">
    </span>
    <header class="major">
      <h1 class="album-title">{{ podcast.title }}</h1>
    </header>
    <div class="content">
      {{ podcast.description }}
    </div>
  </div>
</section>

<div id="main" class="alt">
  <section id="one">
    <div class="inner">
      <h3><a href="{{ site.baseurl }}/podcast/">Podcast</a> &nbsp; / &nbsp; <a href="{{ site.baseurl }}/podcast/{{ podcast.podcast_id }}/">{{ podcast.title }}</a> &nbsp; / &nbsp; {{ page.title }}</h3>
      <section class="spotlights post">
        <section>
          <div class="image">
            <img src="{{ site.baseurl }}/{{ speaker.image }}" alt="" data-position="center center" />
            <div class="speaker-description">
              <h4>{{ speaker.name }}</h4>
              <p>{{ speaker.description }}</p>
            </div>
          </div>
          <div class="content">
            <div class="inner">
              <h2 class="audio-title">{{ page.title }}</h2>
              <p class="audio-description">{{ page.description }}</p>
              <p class="audio-duration">{{ page.date | date: "%b %d, %Y" }} &nbsp; &nbsp; &nbsp; &nbsp; <em>{{ page.podcast_duration }}</em></p>
              {% if page.itunes and page.google_play %}
                <div class="podcast-players">
                  Listen on: &nbsp; &nbsp; &nbsp; &nbsp;
                  <ul class="actions inline">
                    <li><a class="button special small margin" href="{{ post.itunes }}" target="_blank">iTunes Podcast</a></li>
                    <li><a class="button special small margin" href="{{ post.google_play }}" target="_blank">Google Play Music</a></li>
                  </ul>
                </div>
              {% endif %}
              <div id="waveform-1" class="js-waveform">
                <audio id="audio-1" style="display: none" preload="none" src="" data-audio="{{ site.baseurl }}/{{ page.audio }}"></audio>
              </div>
              <div class="controls">
                <button id="button-1" class="btn btn-primary js-audio-button" data-action="play" data-current="play">
                  <i class="fa fa-play"></i> Play
                </button>
                <span id="waveform-counter-1" class="waveform-counter"></span>
                <span id="waveform-duration-1" class="waveform-duration"></span>
              </div>
              <p>{{ content }}</p>
            </div>
          </div>
        </section>
      </section>
    </div>
  </section>
</div>

{% include footer.html %}

</body>

</html>